{% extends 'base.html' %}

{% block title %}Devolver Libro{% endblock %}

{% block content %}
    <div class="card shadow-sm">
        <div class="card-header">
            <h1 class="h3 mb-0 text-white">Devolver Libro</h1>
        </div>
        <div class="card-body">
            <form action="/prestamos/devolver" method="POST">
                <div class="mb-3">
                    <label for="libro_id" class="form-label">ID del Libro a Devolver:</label>
                    <input type="number" class="form-control" id="libro_id" name="libro_id" required>
                </div>
                <button type="submit" class="btn btn-primary mt-3">Devolver Libro</button>
            </form>
        </div>
        <div class="card-footer text-end">
            <a href="/prestamos" class="btn btn-secondary btn-sm">Volver a la Lista de Préstamos</a>
            <a href="/" class="btn btn-info btn-sm">Volver al Menú Principal</a>
        </div>
    </div>
{% endblock %}